body, html {
    height: 100%;
    margin: 0%
}
.background {
    background-image: url(https://64.media.tumblr.com/7b031f29f35c2d610401ed67c1ef983d/tumblr_ohn1elTVky1qzl9pho1_1280.gifv);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.background2 {
    background-image: url(https://thumbs.gfycat.com/RawMiserableArachnid-size_restricted.gif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.background3 {
    background-image: url(./TIC\ TAC\ TOE\ BACKGROUND.jpeg);
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.background4 {
    background-image: url(https://images.unsplash.com/photo-1492446190781-58ac4285911d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHN0YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30x;
    font-family: Silkscreen;
    color: white;           
}
h1 {
    margin-bottom: -300px;
}

.title {
    font-size: 3rem;
    text-shadow: -2px 2px 2px rgb(255, 0, 251);
    margin-bottom: -200px;
    transition: 1s;
    z-index: 5;
}
.title:hover {
    font-size: 3.2rem;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    min-width: 800px;
    min-height: 400px;
    /* background-color: rgb(0, 0, 0); */
    border: 5px solid white;
    border-radius: 50px;
    margin-bottom: -400px;
    margin-top: 200px;
    z-index: 2;
    /* transition: 1s all; */
}
.vs {
    margin: auto;
    justify-content: center;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    margin-top: 120px;
    gap: 20px;
}
.players_menu {
    display: block;
    max-width: 200px;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.names {
    width: 89%;
    padding: 10px;
    height: 30px;
    font-family: Silkscreen;
    background-color: black;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid white;
    margin: auto;
    text-align: center;
}
.ready_button {
    width: 100%;
    padding: 5px;
    font-family: Silkscreen;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.ready_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(225, 0, 191);
}

.music {
    padding: 10px;
    font-size: 0.5rem;
    transition: 1s;
    cursor: pointer;
}
.music:hover {
    font-size: 0.6rem;
}

.display {
    visibility: hidden;
}

.container {
    margin-bottom: 0 auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 350px;
    visibility: hidden;
    font-family: Silkscreen;
}
.tile {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;

}

.tile:hover {
    background-color: white;
    color: black;
}

.tileWinner {
    background-color: rgb(255, 255, 255);
    font-size: 4rem;
    color: rgb(255, 0, 255);
    border: 2px solid rgb(255, 0, 255);
}

.win_count_group {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    transition: 0.5s;

}

.replay {
    width: 300px;
    padding: 10px;
    font-family: Silkscreen;
    margin: 0%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    visibility: hidden;
    opacity: 100%;
    transition: 0.5s all;
}

.replay:hover {
    background-color: white;
    color: black;
}



