body, html {
    height: 100%;
    margin: 0%
}
.background {
    background-image: url(https://64.media.tumblr.com/7b031f29f35c2d610401ed67c1ef983d/tumblr_ohn1elTVky1qzl9pho1_1280.gifv);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30x;
    font-family: Silkscreen;
    color: white;           
}

h1 {
    font-size: 4rem;
    text-shadow: -2px 2px 2px rgb(255, 0, 251);
    transition: 1s;
}
h1:hover {
    font-size: 4.5rem;
}

.container {
    margin: 0 auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 350px;
    font-family: Silkscreen;
}
.tile {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;

}

.tile:hover {
    background-color: white;
    color: black;
}

.hidden {
    opacity: 0;
}

.replay {
    width: 300px;
    padding: 10px;
    font-family: Silkscreen;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}

.replay:hover {
    background-color: white;
    color: black;
}



